
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: darkblue;
    padding: .5rem;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main{
    max-width: 640px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgba(0 0 0 0.1) ;
    padding: 10px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    margin: 1rem;
}
aside {
        width: 20rem ;
        text-align: center;
        position: relative;
    }
    
 aside img {
        width: 300px;
        height: auto;
        
    }
    
aside h2{
     position: absolute;
     top: 20px;
     left: 100px;
   
           
}
footer {
    margin-top: 10px ;
    border-top: 1px solid #000;
    text-align: center;
}

* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #add;
    color: #000;
}
.indent{
    margin-left: 1rem;
    padding: 2rem;
}

